In [1]:
import pandas as pd
import numpy as np

In [2]:
hsv_one_df = pd.read_json('hsv_one_df.json')

In [3]:
hsv_one_df = hsv_one_df.reindex(range(0, len(hsv_one_df)))

In [4]:
hsv_one_df['LBXHE1'] = hsv_one_df['LBXHE1'].where(hsv_one_df['LBXHE1'] != 2, 0)

In [5]:
indices = np.random.choice(hsv_one_df[hsv_one_df['LBXHE1']==1].index,
                           int(0.8*len(hsv_one_df[hsv_one_df['LBXHE1']==1])), replace = False) 
flu = np.zeros(hsv_one_df.shape[0], dtype=int)

In [6]:
for index in indices:
    flu[index] = 1
hsv_one_df['Flu'] = flu
hsv_one_df = hsv_one_df.set_index('SEQN')
hsv_one_df.head()

,LBXHE1,RIAGENDR,RIDAGEYR,DMQMILIZ,DMQADFC,DMDEDUC3,DMDEDUC2,DMDMARTL,DMDHHSIZ,DMDFMSIZ,...,RHQ570,RHQ580,RHQ596,SLD012,SMQ020,SMD030,SMQ900,SMQ910,SMQ890,Flu
SEQN,,,,,,,,,,,,,,,,,,,,,
83736,1,2,42,2,0,0,4,3,5,5,...,0,0,0,0.0,2,0,2,2,1,0
83741,1,1,22,2,0,0,4,5,3,3,...,0,0,0,6.5,1,0,1,2,2,1
83742,1,2,32,2,0,0,4,1,4,4,...,0,0,0,8.0,2,0,2,2,2,1
83743,0,1,18,2,0,11,0,0,3,3,...,0,0,0,6.5,2,0,2,2,2,0
83745,0,2,15,0,0,9,0,0,3,3,...,0,0,0,0.0,0,0,0,0,0,0

In [7]:
hsv_one_df.to_json('hsv_one_finale.json')